
.activity-log {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
  background-color: #f1f1f1;
}

.activity-log h3 {
  color: #045a46;
  margin-bottom: 10px;
}

.activity-log ul {
  list-style-type: none;
  padding: 0;
}

.activity-log li {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}
